{% extends 'shopping/base.html' %}
{% block title %}Change Password{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            <!-- Security token -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change Password</legend>
                <!-- Using the formset -->
                <!-- {{ form.as_p }} -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Change password</button>
            </div>
        </form>
    </div>
{% endblock %}