{% extends 'shopping/base.html' %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}
    <!-- <h1><a href="/">Shopping Cart</a></h1> -->
    {% for item in items %} 
        <article>
            <li><a href="{% url 'item_detail' item.item_id %}">{{ item.name }}</a></li><br/>
            <!-- price: {{item.price}}<br/>
            discount: {{item.discount}}<br/> -->
            <!-- description: {{ item.description }}<br/> -->
            <hr>
        </article>   
    {% endfor %}   
    <!-- {% if user.is_superuser %}
        <a href="{% url 'item_create' %}">Create New Item</a> 
    {% endif %} -->
{% endblock %}
