{% extends 'shopping/base.html' %}
{% block title %}Delete Item{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <!-- <h1>Delete Item</h1> -->
        <form method="post">

            <!-- Security token -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Item</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                Are you sure to delete this item ?<br>
                <!-- <input type="submit" value="Yes"> -->
                <button class="btn btn-outline-info" type="submit">Yes</button>
                <a href="{% url 'item_detail' item.item_id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
