{% extends 'shopping/base.html' %}
{% block title %}Update Item{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h1>Update Item</h1>
        <form method="post">

            <!-- Security token -->
            {% csrf_token %}

            <!-- Using the formset -->
            {{ form|crispy }}

            <input type="submit" value="Update">
            <!-- <button type="submit">Save</button> -->
        </form>
    </div>
{% endblock %}
